<%- include header %>
    <form action="" method="post">
        User Name:		  <input type="text" name="name" id=""><br/>
        Password:		  <input type="password" name="password" id=""><br/>
        Confirm Password: <input type="password" name="password_check" id=""><br/>
        Email:			  <input type="email" name="email" id=""><br/>
        <input type="submit" value="Register">
        
    </form>

<%- include footer %>